* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Baloo Bhaijaan', cursive, white;
  font-style: white;
  font-size: 20px;
}

main {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #e6c9ef, #010020)
  // background-image: url('../images/background_sky.png');
  // background-size: contain;
}

h1{
  text-align: center;
  font-size: 45px;
  background-color: rgba(36, 169, 209, 0.36);

}

p{
  text-align: center;
  font-size: 30px;

}

span{

}

.word1{
  color:#d93434;
}

.word2{
  color: #318c21;
}

.word3{
  color:#d93434
}

.pop{
  font-size: 50px;
  color: #318c21;
}

.balloon{
  font-size: 50px;
  color: #d93434;
}


.wholegame{
  display: flex;
  flex-direction: column;
}

.gameSpace{
  width: 100%;
  height: 480px;
  background-image: url('../images/carnival.gif');
  background-size: cover;
  border-radius: 5px;
  // border: 1px dotted black;
  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      min-width: 90px;
      height: 100%;
      position: relative;
      overflow: hidden;
    }
  }
}

.playAgainBtn{
  border: 2px solid white;
  background-color: #318c21;
  padding: 20px;
  margin: 1px;
  border-radius: 5px;
  text-align: center;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #318c21, #d93434);
  color: rgb(253, 237, 0);
}
.playAgainBtn:hover{
  cursor:pointer;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.1);
}

.startBtn{
  border: 2px solid white;
  background-color: #318c21;
  padding: 20px;
  margin: 1px;
  border-radius: 5px;
  text-align: center;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #318c21, #d93434);
  color: rgb(253, 237, 0);
  border: dotted #e7f443 6px;
}

.startBtn:hover{
  cursor:pointer;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.1);
}

.resetBtn{
  border: 2px solid white;
  background-color: red;
  padding: 20px;
  margin: 1px;
  align-self: flex-start;
  border-radius: 10px;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #e7f443, #d93434);
  color: rgb(253, 0, 0);
}
.resetBtn:hover {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.1);
  cursor:pointer;
}
.result{
  border: 2px solid white;
  background-color: #b2adad;
  padding: 20px;
  margin: 1px;
  border-radius: 5px;
  background: rgb(217, 52, 52);
  background-image: -webkit-linear-gradient(top, #ecefc9, #e1b1b1);
  color: rgb(255, 255, 255);
}

.points{
  border: 2px solid white;
  background-color: grey;
  padding: 20px;
  margin: 1px;
  border-radius: 5px;
  background: rgb(217, 52, 52);
  background-image: -webkit-linear-gradient(top, #ecefc9, #e1b1b1);
  color: rgb(255, 255, 255);
}

.ballon {
  width: 75px;
  height: 90px;
  border-radius: 50%;
  position:absolute;
  top: 100%;
  cursor:pointer;
}


.red {
  background-color:#c72200;
}

.green {
  background: #318c21;
}

footer{
  height: 100px;
  width: auto;
  border: 2px, solid, black;
  background-color: black;
  border-radius: 5px;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #e6c9ef, #010020)
  // background-image: url('../images/carnival.gif');
  // background-size: cover;
}
//
// /* Tablet Landscape */
// @media screen and (max-width: 1060px) {
//     #primary { width:67%; }
//     #secondary { width:30%; margin-left:3%;}
// }
// /* Tabled Portrait */
// @media screen and (max-width: 768px) {
//     #primary { width:100%; }
//     #secondary { width:100%; margin:0; border:none; }
// }

@media only screen and (max-width: 960px){


  .gameSpace{
    background-image: url('../images/carnival.gif');
    background-size: cover;

  }


}


@media only screen and (max-width: 540px) {


  .gameSpace{
    background-image: url('../images/carnival.gif');
    background-size: cover;

  }
  .startBtn{
    width: 520px;
    height: 82px;
  }

  main{
    display: inherit;
    background: none;
    background-color: none;
    background-image: none;
  }

  div{
    display: grid;
  }

  .results{
    height: 120px;
    width: 120px;
  }

}

@media only screen and (max-width: 320px){

  .startBtn{
    width: 303px;
    height: 82px;
  }

  .gameSpace{
    background-image: url('../images/carnival.gif');
    background-size: cover;
    width: 304px;

  }

  main{
    display: inherit;
    background: none;
    background-color: none;
    background-image: none;
  }


}
